@font-face {
    font-family: iosFont;
    src: url("../sf-pro-display-cufonfonts/SFPRODISPLAYMEDIUM.OTF");
}

@media screen and (max-width : 769px){
    
}

body{
    margin: 0;
    padding: 0vh;
    font-family: iosFont;
    background-size: cover;
    background-position: center;
}

/* NAVIGATION BAR */
nav{
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    /* background: transparent; */
    transition: background-color 0.5s ease;
    height: 10vh;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

nav .logo{
    font-size: 7.rem;
    width: 50%;
    position: relative;
    top: 7px;
}

nav li{
    display: inline;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    font-weight: 900;
    transition: 0.15s;
}

nav a:hover{
    color: orange
}

/* JUMBOTRON 1 */

.jumbotron1{
    width: 100%;
    height: 130vh;
    background-image: url(../assets/images/jumbotron1.png);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
    align-content: center;
}

.quotes{
    color: white;
    font-style: italic;
    font-size: 200%;
    padding-left: 18vw;
    padding-right: 18vw;
}
.from_quotes{
    color: white;
    font-style: italic;
    font-weight: 300;
    font-size: 120%;
    margin-left: 18vw;
    margin-right: 18vw;
    padding-bottom: 20vh;
    border-bottom: 2px solid white;
}

.kasus{
    margin-left: 18vw;
    margin-right: 18vw;
    color: white;
}

.headline-kasus{
    font-weight: 700;
    font-style: italic;
    display: inline-block;
    border-bottom: 3px solid orange;
}

.column-kasus{
    display: flex;
    justify-content: space-betweens;
}

.detail-kasus{
    margin-right: 2%;
    color: white;
}

.berita-selengkapnya{
    color: white;
}

.berita-selengkapnya:hover{
    color: orange;
}

.judul-kasus{
    font-weight: 800;
    font-style: italic;
}

/* JUMBOTRON 2 */

.jumbotron2{
    width: 100%;
    height: 130vh;
    background-color: rgba(239, 239, 239, 1); 
    align-content: center;
}

.butuh-bantuan{
    text-align: center;
    font-weight: 700;
}

.hubungi-cariadil{
    text-align: center;
    font-style: italic;
    font-size: 48px;
    text-decoration: underline solid orange;
}

.box-informasi{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 12px;
}
.detail-box-informasi{
    width: 200px;
    padding: 20px;
    text-align: center;
}

.fa-solid{
    color: orange;
    font-size: 30px;
}

.informasi{
    font-size: 14px;
    color: orange;
}

.aturan-syarat{
    text-align: center;
    font-style: italic;
    color: grey;
}

/* JUMBOTRON 3 */

.jumbotron3{
    width: 100%;
    height: 130vh;
    background-color: white; 
    align-content: center;
}
.jumbo3{
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
}

.box-kasus-hukum{
    display: flex;
    justify-content: space-between;
}

.detail-box-kasus-hukum{
    margin-right: 5%;
}

.judul-kasus{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.img-detail-box-kasus-hukum{
    height: 200px;
    background-color: orange;
    border-radius: 12px;
}

.view-more{
    margin-top: 10%;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border-radius: 12px;
    border: none;
    padding: 15px 28px;
    text-align: center;
    display: inline-block;
}

.title1{
    font-size: 150%;
}

.date{
    color: grey;
    font-size: 80%;
}

.desc-kasus{
    text-align: justify;
}

.status{
    width: 5vw;
    background-color: orangered;
    color: white;
    padding: 8px;
    border-radius: 12px;
}
/* JUMBOTRON 4 */

.jumbotron4{
    width: 100%;
    height: 130vh;
    background-image: url(../assets/images/jumbotron4.png);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
    align-content: center;
    color: white;
}

.box-desc-terlibat{
    width: 80vw;
}

.desc-terlibat{
    color: white;
    font-style: italic;
    font-weight: lighter;
    font-size: 110%;
    margin-left: 18vw;
    margin-right: 18vw;
}

.button-lapor-field{
    margin-left: 18vw;
    margin-right: 18vw;
}

.button-formulir{
    margin-top: 10%;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border-radius: 12px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
}

.button-lapor{
    margin-top: 10%;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
    color: orange;
    background-color: transparent;
    border-radius: 12px;
    border: 2px solid orange;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
}

.bottom-nav{
    background-color: rgba(81, 76, 67, 1);
    height: 70vh;
    display: flex;
    justify-content: center;
}

.info-cariadil{
    margin-top: 10vh;
    margin-left: 18vw;
    margin-right: 10vw;
    color: white;
}

.kontak-cariadil{
    /* background-color: aqua; */
    height: 40vh;
    margin-top: 10vh;
    margin-right: 18vw;
    color: white;
}

.social-media-box{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-media{
    justify-content: space-between;
    display: flex;
    width: 10vw;
}

.fa-brands{
    color: orange;
    font-size: 20px;
}

.input-container{
    border: 3px solid orange;
    height: 8vh;
    align-content: center;
    border-radius: 12px;
}

.custom-textfield{
    background-color: transparent;
    padding: 12px;
    border: none;
    font-size: 14px;
}

.custom-textfield::placeholder{
    color: orange;
}

.send-button{
    background-color: transparent;
    border: none;
}

.send-button .fa-regular{
    color: orange;
    font-size: 16px;
}

.copyright{
    justify-content: end;
    font-weight: bold;
    font-size: 16px;
    color: gray;
}