body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar{
    height: 60px;
    background-color: orange;
    padding: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    height: 40px;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar-links li a:hover {
    color: rebeccapurple; /* warna kuning ketika hover */
}